{% extends "base0.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body" style="padding: 15px 0;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="/machine">设备实时数据</a></li>
          <li><a href="/equip_info">设备列表</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="list">
          <div class="panel-body">
            <div class="row">
              <form>
                <div class="col-md-3 col-lg-offset-9">
                  <div class="input-group">
                    <input class="form-control" type="text" value="" placeholder="用户名" name="keyword">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="table-responsive">
        <style>
        #data_tab{color:darkblue;font-size:15px;background-color:gray()}
        </style>
              <table class="table table-bordered" id="data_tab">
                <thead>
                <tr>
                  <th class="w10p">设备序号</th>
                  <th class="w10p">主轴转速</th>
                  <th class="w10p">当前产量</th>
                  <th class="w10p">单步/连绕</th>
                  <th class="w10p">周期时间</th>
                  <th class="w10p">放料个数</th>
                  <th class="w10p">转速</th>
                  <th class="w10p">圈数</th>
                  <th class="w15p">时间</th>
                </tr>
                </thead>
                <tbody id="tab_opc">
                </tbody>
                  <script type="text/javascript" src="/static/jquery.js"></script>
        <script>
               setInterval(loaddata,1000);
              function loaddata(){
                  var html = '';
                  $.ajax({
                   url: '/machin',
                   type: 'post',
                   dataType: 'json',
                    async:true,
                   success: function (data) { //方法中传入的参数data为后台获取的数据
                       console.log(data);
                       console.log(123);
                       for (var i = 0; i < data.length; i++)  //data.data指的是数组，数组里是8个对象，i为数组的索引
                       {
                           console.log(234);
                           var equipment_id = data[i].equipment_id;
                           var maxis_speed = data[i].maxis_speed;
                           var current_yield = data[i].current_yield;
                           var dan_lian = data[i].dan_lian;
                           var cycle_time = data[i].cycle_time;
                           var material_num = data[i].material_num;
                           var speed = data[i].speed;
                           var quanshu = data[i].quanshu;
                           var time = data[i].time;
                           html += '<tr><td class="center">' + equipment_id + '</td>' +
                               '<td class="center">' + maxis_speed + '</td>' +
                               '<td class="center">' + current_yield + '</td>' +
                               '<td class="center">' + dan_lian + '</td>' +
                               '<td class="center">' + cycle_time + '</td>' +
                               '<td class="center">' + material_num + '</td>' +
                               '<td class="center">' + speed + '</td>' +
                               '<td class="center">' + quanshu + '</td>' +
                               '<td class="center">' + time + '</td></tr>';
                           {#$("#tab").append(html)#}
                           {#html = '';#}
                       }
                       document.getElementById("tab_opc").innerHTML= html;
                   }
               })
              }
        </script>
              </table>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-md-8 m-pagination" id="paginator">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!--footer-->

<!--footer-->
{% block js_content %}
<script src="/static/js/plugins/jquery/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/pagination/mricode.pagination.js"></script>
<script src="/static/js/plugins/fancybox/jquery.fancybox.js"></script>
<script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/module/account.js"></script>
<script type="text/javascript">
  var pageData = [];
  pageData.push({'pageSize': '5', 'total': '100', 'pageIndex': '0'});
  Common.paginator("#paginator", pageData);
  Account.bindFancyBox();
</script>
{% endblock %}
