{% extends "base0.html" %}
<div class="container">
    {% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body" style="padding: 15px 0;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="">服务列表</a></li>
          <li><a href="/service/service_form">添加服务</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="row">
          <form>
            <div class="col-md-2">
              <div class="form-group text-left">
                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-refresh"></i> 重载服务</button>
              </div>
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-3">
              <div class="input-group">
                <input class="form-control" type="text" value="" placeholder="服务名称" name="keyword">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="w5p">id</th>
              <th class="w10p">服务名称</th>
              <th class="w10p">数据源</th>
              <th class="w10p">数据源类型</th>
              <th class="w10p">数据源个数</th>
              <th class="w10p">状态</th>
              <th class="w15p">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="center">1</td>
              <td class="center">视频索引</td>
              <td class="center">video</td>
              <td class="center"><a data-link="message_consumer.html" name="source_info">mysql</a></td>
              <td class="center">32</td>
              <td class="center"><span class="label label-success">运行中</span></td>
              <td class="center">
                <a data-link="service_config.html" name="consumer_list"><i class="glyphicon glyphicon-cog"></i> 配置</a>
                <a data-link="message_consumer.html" name="consumer_list"><i class="glyphicon glyphicon-off"></i> 重启</a>
                <a data-link="message_edit.html" name="edit"><i class="glyphicon glyphicon-pencil"></i> 修改</a>
                <a onclick="Common.confirm('确定要删除吗？')"><i class="glyphicon glyphicon-remove"></i> 删除</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-8 m-pagination" id="paginator">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}
</div>
<!--footer-->

<!--footer-->
{% block js_content %}
<script src="/static/js/plugins/jquery/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/pagination/mricode.pagination.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/plugins/fancybox/jquery.fancybox.js"></script>
<script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/module/message.js"></script>
<script type="/static/text/javascript">
  var pageData = [];
  pageData.push({'pageSize': '10', 'total': '1000', 'pageIndex': '2'});
  Common.paginator("#paginator", pageData);
  Messsage.bindFancyBox();
</script>
{% endblock %}
