{% extends "base0.html"%}
<div class="container">
    {% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body" style="padding: 15px 0;">
        <ul class="nav nav-tabs">
          <li><a href="service.html">服务列表</a></li>
          <li  class="active"><a href="service_form.html">添加服务</a></li>
        </ul>
      </div>
      <br>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>服务名称</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="服务名称" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>数据源</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="数据源(英文字符)" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>数据源类型</label>
            <div class="col-sm-4">
              <select class="form-control" name="exchange">
                <option value="mysql">mysql</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>主机</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="sql 主机" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>端口</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="sql 端口" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>用户名</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="sql 用户名" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>密码</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="sql 密码" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>数据库</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="sql 数据库" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>表名称</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="sql 数据表" value="">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>字符集</label>
            <div class="col-sm-4">
              <input type="text" name="charset" class="form-control" value="utf8" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>数据源个数</label>
            <div class="col-sm-4">
              <input type="text" name="name" class="form-control" placeholder="数据源个数(数据库分表数)" value="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
              <button type="submit" onclick="" class="btn btn-success">保存</button>
            </div>
          </div>
        </form>
      </div>
      <hr>
    </div>
  </div>
    {% endblock %}
</div>
<!--footer-->

<!--footer-->
{% block js_content %}
<script src="/static/js/plugins/jquery/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/pagination/mricode.pagination.js"></script>
<script src="/static/js/common/common.js"></script>
<script type="text/javascript">
  var pageData = [];
  pageData.push({'pageSize': '10', 'total': '1000', 'pageIndex': '2'});
  Common.paginator("#paginator", pageData);
</script>
{% endblock %}