{% extends "base0.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body" style="padding: 15px 0;">
        <ul class="nav nav-tabs">
          <li class=""><a href="/user">用户列表</a></li>
          <li class="active"><a href="/user_form">添加用户</a></li>
        </ul>
      </div>
      <br>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>用户名</label>
            <div class="col-sm-4">
              <input type="text" name="username" class="form-control" placeholder="用户名" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>邮箱</label>
            <div class="col-sm-4">
              <input type="email" name="email" class="form-control" placeholder="邮箱" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label">手机</label>
            <div class="col-sm-4">
              <input type="text" name="mobile" class="form-control" placeholder="手机">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>角色</label>
            <div class="col-sm-4">
              <select class="form-control" name="role_id">
                <option value="1">系统管理员</option>
                <option value="2">管理员</option>
                <option value="3">普通账号</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1 control-label"><span class="text-danger"> * </span>密码</label>
            <div class="col-sm-4">
              <input type="password" class="form-control" placeholder="密码" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
              <button type="submit" onclick="" class="btn btn-success">保存</button>
            </div>
          </div>
        </form>
      </div>
      <hr>
    </div>
  </div>
</div>
{% endblock %}
<!--footer-->
<!--footer-->
{% block js_content %}
<script src="/static/js/plugins/jquery/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/pagination/mricode.pagination.js"></script>
<script src="/static/js/common/common.js"></script>
<script type="text/javascript">
  var pageData = [];
  pageData.push({'pageSize': '10', 'total': '1000', 'pageIndex': '2'});
  Common.paginator("#paginator", pageData);
</script>
{% endblock %}