{% extends "base0.html" %}
<div class="container">
{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel-body" style="padding: 15px 0;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="/user">用户列表</a></li>
          <li class=""><a href="/user_form">添加用户</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="row">
          <form>
            <div class="col-md-3 col-lg-offset-9">
              <div class="input-group">
                <input class="form-control" type="text" value="" placeholder="用户名" name="keyword">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                  </span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="table-responsive">
            <style>
                #user_show{font-size: 15px}
            </style>
          <table class="table table-bordered" id="user_show">
            <tr>
              <th class="w8p">id</th>
              <th class="w18p">用户名</th>
              <th class="w18p">邮箱</th>
              <th class="w13p">手机</th>
              <th class="w15p">创建时间</th>
              <th class="w15p">操作</th>
            </tr>
            {% for i in u %}
            <tr>
              <td class="center">{{ i[0] }}</td>
              <td class="center">{{ i[1] }}</td>
              <td class="center">{{ i[2] }}</td>
              <td class="center">{{ i[4] }}</td>
              <td class="center">{{ i[5] }}</td>
              <td class="center"><a name="remove" onclick="Common.confirm('确认要屏蔽吗？')"><i class="glyphicon glyphicon-remove"></i>屏蔽</a></td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-8 m-pagination" id="paginator">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
</div>
<!--footer-->

<!--footer-->
{% block js_content %}
<script src="/static/js/plugins/jquery/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/pagination/mricode.pagination.js"></script>
<script src="/static/js/plugins/fancybox/jquery.fancybox.js"></script>
<script src="/static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/static/js/common/common.js"></script>
<script src="/static/js/module/account.js"></script>
<script type="text/javascript">
  var pageData = [];
  pageData.push({'pageSize': '10', 'total': '1000', 'pageIndex': '2'});
  Common.paginator("#paginator", pageData);
  Account.bindFancyBox();
</script>
{% endblock %}